/* Start Variables */

:root {
    --main-color: #2D5DFE;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

.container {
    margin-top: 40px;
    margin-top: 150px;
}

.container .presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .presentation .text {
    width: 700px;
}

.container .presentation .text h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.container .presentation .text p {
    line-height: 2;
    color: #777;
    font-size: 18px;
}

.container .presentation .card-image {
    width: 500px;
}

.container .presentation .card-image img {
    max-width: 100%;
    border-radius: 20px;
}

.container .smart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-size: cover;
    width: 500px;
    margin: 40px auto;
}

.container .smart-card form {
    border: none;
    box-shadow: none;
}

.container .smart-card .button {
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container .smart-card .card-popup h3 {
    font-weight: bold;
    color: var(--main-color);
    margin-top: 40px;
    margin-bottom: 40px;
}